In [1]:
!pip install dnspython

Collecting dnspython
  Downloading https://files.pythonhosted.org/packages/f5/2d/ae9e172b4e5e72fa4b3cfc2517f38b602cc9ba31355f9669c502b4e9c458/dnspython-2.1.0-py3-none-any.whl (241kB)
     |████████████████████████████████| 245kB 9.1MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://dbuser:6RqmuabZDirdGxtq@ecourierz.g4yka.mongodb.net/eZtracking?retryWrites=true&w=majority")
db = client.eZtracking

In [3]:
# import pandas as pd
# data = pd.DataFrame(list(db.final_tracking_checkpoints.find()))

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148000 entries, 0 to 147999
Data columns (total 17 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   tracking_number                      148000 non-null  object
 1   Shipment_information_sent_to_Vendor  148000 non-null  bool
 2   Intransit                            148000 non-null  bool
 3   checkpoints                          148000 non-null  object
 4   Pending                              148000 non-null  bool
 5   active                               148000 non-null  bool
 6   Delivered                            148000 non-null  bool
 7   Picked_up                            148000 non-null  bool
 8   slug                                 148000 non-null  object
 9   Cancelled                            147515 non-null  object
 10  shipment_weight_unit                 127884 non-null  object
 11  shipment_weight                      125958 non-null  object
 12  tracked_count                        146837 non-null  float64
 13  source                               134265 non-null  object
 14  Exception                            66797 non-null   object
 15  return                               18267 non-null   object
 16  OutForDelivery                       26470 non-null   object
dtypes: bool(6), float64(1), object(10)
memory usage: 13.3+ MB

In [15]:
del data['_id']
del data['pick_date'] # 0 non-null       
del data['created'] # 148000 non-null - Substituted by checkpoint time in checkpoints.
del data['last_update'] # 148000 non-null - not useful
del data['delivery_attempts'] # 1 non-null
del data['expected_delivery'] # 1 non-null
del data['return_expected_delivery']
del data['return_pick_date']
del data['return_tracking_number']
del data['Exception']

In [17]:
data.rename(columns = {'return':'Returned'}, inplace = True)
sample_dataset = pd.DataFrame(data.query('Delivered == True and Returned!= True'))
sample_dataset.reset_index(drop=True, inplace=True)
sample_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114584 entries, 0 to 114583
Data columns (total 16 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   tracking_number                      114584 non-null  object
 1   Shipment_information_sent_to_Vendor  114584 non-null  bool
 2   Intransit                            114584 non-null  bool
 3   checkpoints                          114584 non-null  object
 4   Pending                              114584 non-null  bool
 5   active                               114584 non-null  bool
 6   Delivered                            114584 non-null  bool
 7   Picked_up                            114584 non-null  bool
 8   slug                                 114584 non-null  object
 9   Cancelled                            114163 non-null  object
 10  shipment_weight_unit                 105285 non-null  object
 11  shipment_weight                      105270 non-null  object
 12  tracked_count                        113551 non-null  float64
 13  source                               101934 non-null  object
 14  Returned                             666 non-null     object
 15  OutForDelivery                       16030 non-null   object
dtypes: bool(6), float64(1), object(9)
memory usage: 9.4+ MB

In [22]:
clean_Sampled_dataset = sample_dataset[['tracking_number', 'checkpoints','slug']]

In [23]:
checkpoint_data = []
for id in range(len(clean_Sampled_dataset)):
      tracking = clean_Sampled_dataset['tracking_number'][id]
      list_of_dictionaries = clean_Sampled_dataset['checkpoints'][id]
      last_checkpoint = list_of_dictionaries[0]['checkpoint_time']
      first_checkpoint = list_of_dictionaries[len(list_of_dictionaries)-1]['checkpoint_time']
      source_city = list_of_dictionaries[0]['city']
      destination_city = list_of_dictionaries[len(list_of_dictionaries)-2]['city']
      source_zip = list_of_dictionaries[0]['zip']
      destination_zip = list_of_dictionaries[len(list_of_dictionaries)-2]['zip']
      carrier = list_of_dictionaries[0]['slug']
      df = {'tracking_number':tracking, 'last_checkpoint': last_checkpoint, 'first_checkpoint':first_checkpoint, 'source_city':source_city, 'destination_city':destination_city, 'source_zip':source_zip, 'destination_zip':destination_zip, 'carrier':carrier}
      checkpoint_data.append(df)
checkpoint_dataframe = pd.DataFrame(checkpoint_data)

In [97]:
checkpoint_dataframe.reset_index(drop=True, inplace=True)
checkpoint_dataframe.sample()

      tracking_number            last_checkpoint  ... destination_zip carrier
17399    786256069576  2019-03-30 18:00:00+05:30  ...          400012   fedex

[1 rows x 8 columns]

In [95]:
from dateutil import parser
for id in range(len(checkpoint_dataframe)):
  checkpoint_dataframe['last_checkpoint'][id] = parser.parse(checkpoint_dataframe['last_checkpoint'][id])
  checkpoint_dataframe['first_checkpoint'][id] = parser.parse(checkpoint_dataframe['first_checkpoint'][id])

In [25]:
checkpoint_dataframe.dropna(subset=['source_city'], inplace=True)
checkpoint_dataframe.dropna(subset=['destination_city'], inplace=True)
checkpoint_dataframe.reset_index(drop=True, inplace=True)

In [101]:
import numpy as np
checkpoint_dataframe['time_to_delivery_hours'] = pd.Series(np.random.randn(len(checkpoint_dataframe['last_checkpoint'])), index =checkpoint_dataframe.index)

In [102]:
pd.options.mode.chained_assignment = None  # default='warn'
from datetime import datetime
for id in range(len(checkpoint_dataframe)):
  lastCheckpoint = checkpoint_dataframe['last_checkpoint'][id]
  firstCheckpoint = checkpoint_dataframe['first_checkpoint'][id]
  old = min(lastCheckpoint,firstCheckpoint)
  young = max(lastCheckpoint,firstCheckpoint)
  duration = young - old     
  duration_in_s = duration.total_seconds()      
  hours = divmod(duration_in_s, 3600)[0]
  checkpoint_dataframe['time_to_delivery_hours'][id]=hours

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [108]:
checkpoint_dataframe.sample(8)

       tracking_number      last_checkpoint  ...   carrier time_to_delivery_hours
63509      20099734045  2019-08-22 17:18:00  ...  bluedart                   23.0
63861      59645198443  2019-08-24 15:36:00  ...  bluedart                   68.0
106869     59660322120  2019-10-19 18:45:00  ...  bluedart                   49.0
55083      20096753865  2019-08-06 10:55:00  ...  bluedart                   17.0
33801      59629206302  2019-06-24 12:31:00  ...  bluedart                   69.0
113924     69517230764  2019-10-29 13:05:00  ...  bluedart                  141.0
5340       32260448146  2018-12-10 19:00:00  ...    aramex                  150.0
21227      69670939656  2019-04-20 16:00:00  ...  bluedart                  119.0

[8 rows x 9 columns]

In [107]:
# checkpoint_dataframe.loc[checkpoint_dataframe['source_city'].str.contains('MUMBAI|mumbai|Mumbai|Mum'), 'source_city'] = 'Mumbai'
# checkpoint_dataframe.loc[checkpoint_dataframe['source_city'].str.contains('Bangalore|BANGALORE|Bengaluru|BLR|Karnataka'), 'source_city'] = 'Karnataka'
# checkpoint_dataframe.loc[checkpoint_dataframe['destination_city'].str.contains('MUMBAI|mumbai|Mumbai|Mum'), 'destination_city'] = 'Mumbai'
# checkpoint_dataframe.loc[checkpoint_dataframe['destination_city'].str.contains('Bangalore|BANGALORE|Bengaluru|BLR|Karnataka'), 'destination_city'] = 'Karnataka'

In [126]:
# df1 = checkpoint_dataframe[checkpoint_dataframe['source_city'].str.contains("IND")] 
# df1

       tracking_number  ... time_to_delivery_hours
114       781945286769  ...                   48.0
214       782038244512  ...                  100.0
236       782024053570  ...                  142.0
389       782263254895  ...                  101.0
424       782928400567  ...                   94.0
...                ...  ...                    ...
114088     70057063860  ...                   95.0
114092     70057063904  ...                  117.0
114144     70057067205  ...                   90.0
114399     70057075863  ...                   91.0
114456     70057074172  ...                   92.0

[6667 rows x 9 columns]

In [120]:
# from geopy.geocoders import Nominatim
# geolocator = Nominatim(user_agent="Samyuktha_17Z238_UserAgent")
# # for id in range(len(checkpoint_dataframe)):
# for id in range(3):
#   location = geolocator.geocode(checkpoint_dataframe['source_zip'][id])
#   print(location)

In [134]:
zip_df = checkpoint_dataframe[checkpoint_dataframe['source_zip'].notnull()]
zip_df = zip_df[zip_df['destination_zip'].notnull()]
zip_df.sample()

     tracking_number            last_checkpoint  ... carrier time_to_delivery_hours
3386    783638868450  2018-11-13 15:26:00+05:30  ...   fedex                  150.0

[1 rows x 9 columns]

The Postal Index Number or PIN consist of six long numerical digits and each of them indicates regions. <br>The first digit denotes the zone <br>The second digit indicates sub-zone <br>The third digit along with the first two will indicate the sorting district within the zone. <br>The last final three digits indicate the individual post offices within the sorting districts.

In [141]:
zip_df['szone'] = pd.Series(np.random.randn(len(zip_df['carrier'])),index = zip_df.index)
zip_df['dzone'] = pd.Series(np.random.randn(len(zip_df['carrier'])),index = zip_df.index)

In [143]:
zip_df.reset_index(drop=True, inplace=True)

In [178]:
pd.options.mode.chained_assignment = None  # default='warn'
for id in range(len(zip_df)):
  s_zip = zip_df['source_zip'][id]
  if(len(s_zip)==6 and s_zip.isdigit()):
    if (s_zip[0] == '1' or s_zip[0] == '2'):
        zip_df['szone'][id]= "North"
    elif (s_zip[0] == '3' or s_zip[0] == '4'):
        zip_df['szone'][id]= "West"
    elif (s_zip[0] == '5' or s_zip[0] == '6'):
        zip_df['szone'][id]= "South"
    elif (s_zip[0] == '7' or s_zip[0] == '8'):
        zip_df['szone'][id]= "East"
    else:
        zip_df['szone'][id]= "Amry"
  else:
    zip_df['szone'][id]='Foreign'

In [180]:
pd.options.mode.chained_assignment = None  # default='warn'
for id in range(len(zip_df)):
  d_zip = zip_df['destination_zip'][id]
  if(len(d_zip)==6 and s_zip.isdigit()):
    if (d_zip[0] == '1' or d_zip[0] == '2'):
        zip_df['dzone'][id]= "North"
    elif (d_zip[0] == '3' or d_zip[0] == '4'):
        zip_df['dzone'][id]= "West"
    elif (d_zip[0] == '5' or d_zip[0] == '6'):
        zip_df['dzone'][id]= "South"
    elif (d_zip[0] == '7' or d_zip[0] == '8'):
        zip_df['dzone'][id]= "East"
    else:
        zip_df['dzone'][id]= "Amry"
  else:
    zip_df['dzone'][id]='Foreign'

In [181]:
zip_df['dzone'].value_counts()

West     10258
South     9117
North     4519
East      2033
Name: dzone, dtype: int64

In [182]:
zip_df['szone'].value_counts()

South      8990
West       8306
North      5186
East       3016
Foreign     426
Amry          3
Name: szone, dtype: int64

In [184]:
zip_df.sample(5)

      tracking_number            last_checkpoint  ...  szone  dzone
19146    788701683690  2019-07-29 13:37:00+05:30  ...  South   East
20548    789211327700  2019-08-21 15:14:00+05:30  ...  North  South
13052    786529910850  2019-04-16 12:35:00+05:30  ...  North  South
9419     785542372430  2019-02-19 17:37:00+05:30  ...   East   West
1929     783357997673  2018-10-23 15:30:00+05:30  ...  South  South

[5 rows x 11 columns]

In [185]:
from google.colab import files
zip_df.to_csv("checkpoint_zones.csv")
files.download("checkpoint_zones.csv")