In [1]:
!pip install dnspython

Collecting dnspython
  Downloading https://files.pythonhosted.org/packages/f5/2d/ae9e172b4e5e72fa4b3cfc2517f38b602cc9ba31355f9669c502b4e9c458/dnspython-2.1.0-py3-none-any.whl (241kB)
     |████████████████████████████████| 245kB 8.7MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://dbuser:6RqmuabZDirdGxtq@ecourierz.g4yka.mongodb.net/eZtracking?retryWrites=true&w=majority")
db = client.eZtracking

In [3]:
import pandas as pd
data = pd.DataFrame(list(db.final_tracking_checkpoints.find()))

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148000 entries, 0 to 147999
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   _id                                  148000 non-null  object
 1   tracking_number                      148000 non-null  object
 2   last_update                          148000 non-null  object
 3   Shipment_information_sent_to_Vendor  148000 non-null  bool
 4   Intransit                            148000 non-null  bool
 5   checkpoints                          148000 non-null  object
 6   Pending                              148000 non-null  bool
 7   created                              148000 non-null  object
 8   active                               148000 non-null  bool
 9   Delivered                            148000 non-null  bool
 10  Picked_up                            148000 non-null  bool
 11  slug                                 148000 non-null  object
 12  Cancelled                            147515 non-null  object
 13  shipment_weight_unit                 127884 non-null  object
 14  shipment_weight                      125958 non-null  object
 15  tracked_count                        146837 non-null  float64
 16  source                               134265 non-null  object
 17  Exception                            66797 non-null   object
 18  return                               18267 non-null   object
 19  OutForDelivery                       26470 non-null   object
 20  delivery_attempts                    1 non-null       float64
 21  expected_delivery                    1 non-null       object
 22  pick_date                            0 non-null       float64
 23  return_expected_delivery             1 non-null       object
 24  return_pick_date                     1 non-null       object
 25  return_tracking_number               1 non-null       object
dtypes: bool(6), float64(3), object(17)
memory usage: 23.4+ MB

In [5]:
data.rename(columns = {'return':'Returned'}, inplace = True)

In [6]:
TrackingNumber_Dataset = pd.DataFrame(data.query('Delivered == True and Pending == False and Shipment_information_sent_to_Vendor == True and active == False and Returned == False'))
TrackingNumber_Dataset.sample()

                             _id  ... return_tracking_number
117990  5d983931cd33077db1ca1d5c  ...                    NaN

[1 rows x 26 columns]

In [7]:
Sample_dataset = data

In [8]:
#non_null_rows = Sample_dataset.loc[Sample_dataset['return_pick_date'].notnull()]

In [9]:
Sample_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148000 entries, 0 to 147999
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   _id                                  148000 non-null  object
 1   tracking_number                      148000 non-null  object
 2   last_update                          148000 non-null  object
 3   Shipment_information_sent_to_Vendor  148000 non-null  bool
 4   Intransit                            148000 non-null  bool
 5   checkpoints                          148000 non-null  object
 6   Pending                              148000 non-null  bool
 7   created                              148000 non-null  object
 8   active                               148000 non-null  bool
 9   Delivered                            148000 non-null  bool
 10  Picked_up                            148000 non-null  bool
 11  slug                                 148000 non-null  object
 12  Cancelled                            147515 non-null  object
 13  shipment_weight_unit                 127884 non-null  object
 14  shipment_weight                      125958 non-null  object
 15  tracked_count                        146837 non-null  float64
 16  source                               134265 non-null  object
 17  Exception                            66797 non-null   object
 18  Returned                             18267 non-null   object
 19  OutForDelivery                       26470 non-null   object
 20  delivery_attempts                    1 non-null       float64
 21  expected_delivery                    1 non-null       object
 22  pick_date                            0 non-null       float64
 23  return_expected_delivery             1 non-null       object
 24  return_pick_date                     1 non-null       object
 25  return_tracking_number               1 non-null       object
dtypes: bool(6), float64(3), object(17)
memory usage: 23.4+ MB

In [10]:
del Sample_dataset['_id']
del Sample_dataset['pick_date'] # 0 non-null       
del Sample_dataset['created'] # 148000 non-null - Substituted by checkpoint time in checkpoints.
del Sample_dataset['last_update'] # 148000 non-null - not useful
del Sample_dataset['delivery_attempts'] # 1 non-null
del Sample_dataset['expected_delivery'] # 1 non-null
del Sample_dataset['return_expected_delivery']
del Sample_dataset['return_pick_date']
del Sample_dataset['return_tracking_number']

In [11]:
Sample_dataset = Sample_dataset.drop([Sample_dataset.index[43199],Sample_dataset.index[43561]]) #dropping duplicates

In [12]:
Sample_dataset['Returned'] = Sample_dataset['Returned'].fillna(-1)
Sample_dataset['Exception'] = Sample_dataset['Exception'].fillna(-1)

In [13]:
clean_Sampled_dataset = Sample_dataset

In [14]:
Sample_dataset.loc[43198]

tracking_number                                                              20090957250
Shipment_information_sent_to_Vendor                                                 True
Intransit                                                                          False
checkpoints                            [{'state': None, 'created_at': '', 'coordinate...
Pending                                                                            False
active                                                                             False
Delivered                                                                          False
Picked_up                                                                          False
slug                                                                            bluedart
Cancelled                                                                          False
shipment_weight_unit                                                                  KG
shipment_weight                                                                     None
tracked_count                                                                        629
source                                                                            eshipz
Exception                                                                           True
Returned                                                                              -1
OutForDelivery                                                                       NaN
Name: 43198, dtype: object

In [15]:
clean_Sampled_dataset = pd.DataFrame(clean_Sampled_dataset.query('Delivered == True and Returned!= True and Exception!=True'))
clean_Sampled_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67479 entries, 0 to 147999
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   tracking_number                      67479 non-null  object
 1   Shipment_information_sent_to_Vendor  67479 non-null  bool
 2   Intransit                            67479 non-null  bool
 3   checkpoints                          67479 non-null  object
 4   Pending                              67479 non-null  bool
 5   active                               67479 non-null  bool
 6   Delivered                            67479 non-null  bool
 7   Picked_up                            67479 non-null  bool
 8   slug                                 67479 non-null  object
 9   Cancelled                            67058 non-null  object
 10  shipment_weight_unit                 58238 non-null  object
 11  shipment_weight                      58232 non-null  object
 12  tracked_count                        66446 non-null  float64
 13  source                               54829 non-null  object
 14  Exception                            67479 non-null  object
 15  Returned                             67479 non-null  object
 16  OutForDelivery                       9868 non-null   object
dtypes: bool(6), float64(1), object(10)
memory usage: 6.6+ MB

In [16]:
del clean_Sampled_dataset['Delivered']
del clean_Sampled_dataset['Returned']
del clean_Sampled_dataset['Exception']

In [17]:
clean_Sampled_dataset.reset_index(drop=True, inplace=True)
clean_Sampled_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67479 entries, 0 to 67478
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   tracking_number                      67479 non-null  object
 1   Shipment_information_sent_to_Vendor  67479 non-null  bool
 2   Intransit                            67479 non-null  bool
 3   checkpoints                          67479 non-null  object
 4   Pending                              67479 non-null  bool
 5   active                               67479 non-null  bool
 6   Picked_up                            67479 non-null  bool
 7   slug                                 67479 non-null  object
 8   Cancelled                            67058 non-null  object
 9   shipment_weight_unit                 58238 non-null  object
 10  shipment_weight                      58232 non-null  object
 11  tracked_count                        66446 non-null  float64
 12  source                               54829 non-null  object
 13  OutForDelivery                       9868 non-null   object
dtypes: bool(5), float64(1), object(8)
memory usage: 5.0+ MB

In [18]:
del clean_Sampled_dataset['source']

In [19]:
# clean_dataset = pd.DataFrame()
# clean_dataset['tracking_number'] = clean_Sampled_dataset['tracking_number']
# clean_dataset['checkpoints'] = clean_Sampled_dataset['checkpoints']
# clean_dataset['slug'] = clean_Sampled_dataset['slug']

In [20]:
clean_Sampled_dataset = clean_Sampled_dataset[['tracking_number', 'checkpoints','slug']]

In [21]:
clean_Sampled_dataset['checkpoints'][0]

[{'checkpoint_time': '2018-07-25T16:39:00+05:30',
  'city': 'BANGALORE',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'Delivered',
  'slug': 'fedex',
  'state': 'KA',
  'tag': 'Delivered',
  'zip': '560099'},
 {'checkpoint_time': '2018-07-25T14:26:00+05:30',
  'city': 'BANGALORE',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'On FedEx vehicle for delivery',
  'slug': 'fedex',
  'state': 'KA',
  'tag': 'OutForDelivery',
  'zip': '560100'},
 {'checkpoint_time': '2018-07-25T14:25:00+05:30',
  'city': 'BANGALORE',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'In transit',
  'slug': 'fedex',
  'state': 'KA',
  'tag': 'InTransit',
  'zip': '560100'},
 {'checkpoint_time': '2018-07-25T14:06:00+05:30',
  'city': 'BANGALORE',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'At local FedEx facility',
  'slug': 'fedex',
  'state': 'KA',
  'tag': 'InTransit',
  'zip': '560100'},
 {'checkpoint_time': '2018-07-25T12:28:00+05:30',
  'city': 'BANGALORE',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'In transit',
  'slug': 'fedex',
  'state': 'KA',
  'tag': 'InTransit',
  'zip': '560045'},
 {'checkpoint_time': '2018-07-25T12:00:00+05:30',
  'city': 'BANGALORE',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'Departed FedEx location',
  'slug': 'fedex',
  'state': 'KA',
  'tag': 'InTransit',
  'zip': '560045'},
 {'checkpoint_time': '2018-07-25T11:58:00+05:30',
  'city': 'BANGALORE',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'In transit',
  'slug': 'fedex',
  'state': 'KA',
  'tag': 'InTransit',
  'zip': '560045'},
 {'checkpoint_time': '2018-07-25T01:48:00+05:30',
  'city': 'MUMBAI',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'In transit',
  'slug': 'fedex',
  'state': 'MH',
  'tag': 'InTransit',
  'zip': '400059'},
 {'checkpoint_time': '2018-07-25T00:40:00+05:30',
  'city': 'MUMBAI',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'In transit',
  'slug': 'fedex',
  'state': 'MH',
  'tag': 'InTransit',
  'zip': '400059'},
 {'checkpoint_time': '2018-07-24T17:37:00+05:30',
  'city': 'MUMBAI',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'Left FedEx origin facility',
  'slug': 'fedex',
  'state': 'MH',
  'tag': 'InTransit',
  'zip': '400059'},
 {'checkpoint_time': '2018-07-24T17:36:00+05:30',
  'city': 'MUMBAI',
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'Picked up',
  'slug': 'fedex',
  'state': 'MH',
  'tag': 'PickedUp',
  'zip': '400059'},
 {'checkpoint_time': '2018-07-24T03:13:16-05:00',
  'city': None,
  'coordinates': [],
  'country_iso3': None,
  'created_at': '',
  'message': 'Shipment information sent to FedEx',
  'slug': 'fedex',
  'state': None,
  'tag': 'InfoReceived',
  'zip': None}]

In [62]:
checkpoint_data = []
for id in range(len(clean_Sampled_dataset)):
      tracking = clean_Sampled_dataset['tracking_number'][id]
      list_of_dictionaries = clean_Sampled_dataset['checkpoints'][id]
      last_checkpoint = list_of_dictionaries[0]['checkpoint_time']
      first_checkpoint = list_of_dictionaries[len(list_of_dictionaries)-1]['checkpoint_time']
      source_city = list_of_dictionaries[0]['city']
      destination_city = list_of_dictionaries[len(list_of_dictionaries)-2]['city']
      source_zip = list_of_dictionaries[0]['zip']
      destination_zip = list_of_dictionaries[len(list_of_dictionaries)-2]['zip']
      carrier = list_of_dictionaries[0]['slug']
      df = {'tracking_number':tracking, 'last_checkpoint': last_checkpoint, 'first_checkpoint':first_checkpoint, 'source_city':source_city, 'destination_city':destination_city, 'source_zip':source_zip, 'destination_zip':destination_zip, 'carrier':carrier}
      checkpoint_data.append(df)
checkpoint_dataframe = pd.DataFrame(checkpoint_data)

In [63]:
# for id in range(len(clean_Sampled_dataset)):
#       print(clean_Sampled_dataset['tracking_number'][id])

In [64]:
#checkpoint_dataframe['source_zip'].value_counts()
# checkpoint_dataframe['destination_city_zip'].value_counts()
checkpoint_dataframe.reset_index(drop=True, inplace=True)
checkpoint_dataframe

      tracking_number            last_checkpoint  ... destination_zip   carrier
0        781967910698  2018-07-25T16:39:00+05:30  ...          400059     fedex
1        781966817010  2018-07-26T14:09:00+05:30  ...          500014     fedex
2        781966767548  2018-07-25T18:00:00+05:30  ...          500014     fedex
3        781966731341  2018-07-26T17:00:00+05:30  ...          700091     fedex
4        781966728963  2018-07-27T13:07:00+05:30  ...          700091     fedex
...               ...                        ...  ...             ...       ...
67474     70057074312        2019-10-21T17:22:00  ...            None  bluedart
67475     70057075535        2019-10-19T20:51:00  ...            None  bluedart
67476     70057075675        2019-10-18T15:32:00  ...            None  bluedart
67477     70057075771        2019-10-18T18:11:00  ...            None  bluedart
67478     70057073041        2019-10-20T18:05:00  ...            None  bluedart

[67479 rows x 8 columns]

In [65]:
#checkpoint_dataframe[checkpoint_dataframe['source_city'].isna()]
#checkpoint_dataframe.drop(checkpoint_dataframe[checkpoint_dataframe['source_city'].isna()]) #dropping duplicates
checkpoint_dataframe.dropna(subset=['source_city'], inplace=True)
checkpoint_dataframe.reset_index(drop=True, inplace=True)

In [66]:
# from google.colab import files
# checkpoint_dataframe.to_csv("checkpoint_attributes.csv")
# files.download("checkpoint_attributes.csv")

In [67]:
checkpoint_dataframe.sample()

      tracking_number            last_checkpoint  ... destination_zip carrier
62871    780340128184  2019-10-22T17:05:00+05:30  ...          411003   fedex

[1 rows x 8 columns]

In [68]:
checkpoint_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67444 entries, 0 to 67443
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tracking_number   67444 non-null  object
 1   last_checkpoint   67444 non-null  object
 2   first_checkpoint  67444 non-null  object
 3   source_city       67444 non-null  object
 4   destination_city  67365 non-null  object
 5   source_zip        26006 non-null  object
 6   destination_zip   25929 non-null  object
 7   carrier           67444 non-null  object
dtypes: object(8)
memory usage: 4.1+ MB

In [69]:
checkpoint_dataframe.describe()

       tracking_number      last_checkpoint  ... destination_zip   carrier
count            67444                67444  ...           25929     67444
unique           67444                51681  ...             167         9
top        20082712370  2019-04-13T17:12:00  ...          560100  bluedart
freq                 1                   43  ...            3504     28186

[4 rows x 8 columns]

In [70]:
# checkpoint_dataframe['last_checkpoint'] = checkpoint_dataframe['last_checkpoint'].map(lambda x: x.replace('+05:30', 'Z'))
# checkpoint_dataframe['first_checkpoint'] = checkpoint_dataframe['first_checkpoint'].map(lambda x: x.replace('-05:00', 'Z'))

In [71]:
# checkpoint_dataframe['last_checkpoint'] = checkpoint_dataframe['last_checkpoint'].map(lambda x: x.strip('Z'))
# checkpoint_dataframe['first_checkpoint'] = checkpoint_dataframe['first_checkpoint'].map(lambda x: x.strip('Z'))

In [72]:
checkpoint_dataframe.loc[7509]

tracking_number            700009279367
last_checkpoint     2019-01-07T22:13:17
first_checkpoint    2019-01-01T11:22:05
source_city                 TIRUNELVELI
destination_city                 MUMBAI
source_zip                         None
destination_zip                    None
carrier                          dotzot
Name: 7509, dtype: object

In [73]:
# from datetime import datetime
# for id in range(171, len(checkpoint_dataframe)):
#   checkpoint_dataframe['last_checkpoint'][id] = datetime.strptime(checkpoint_dataframe['last_checkpoint'][id], '%Y-%m-%dT%H:%M:%S')
#   checkpoint_dataframe['first_checkpoint'][id] = datetime.strptime(checkpoint_dataframe['first_checkpoint'][id], '%Y-%m-%dT%H:%M:%S')

In [74]:
from dateutil import parser
for id in range(len(checkpoint_dataframe)):
  checkpoint_dataframe['last_checkpoint'][id] = parser.parse(checkpoint_dataframe['last_checkpoint'][id])
  checkpoint_dataframe['first_checkpoint'][id] = parser.parse(checkpoint_dataframe['first_checkpoint'][id])

In [75]:
checkpoint_dataframe

      tracking_number            last_checkpoint  ... destination_zip   carrier
0        781967910698  2018-07-25 16:39:00+05:30  ...          400059     fedex
1        781966817010  2018-07-26 14:09:00+05:30  ...          500014     fedex
2        781966767548  2018-07-25 18:00:00+05:30  ...          500014     fedex
3        781966731341  2018-07-26 17:00:00+05:30  ...          700091     fedex
4        781966728963  2018-07-27 13:07:00+05:30  ...          700091     fedex
...               ...                        ...  ...             ...       ...
67439     70057074312        2019-10-21 17:22:00  ...            None  bluedart
67440     70057075535        2019-10-19 20:51:00  ...            None  bluedart
67441     70057075675        2019-10-18 15:32:00  ...            None  bluedart
67442     70057075771        2019-10-18 18:11:00  ...            None  bluedart
67443     70057073041        2019-10-20 18:05:00  ...            None  bluedart

[67444 rows x 8 columns]

In [76]:
import numpy as np
checker = checkpoint_dataframe
checker['time_to_delivery_hours'] = pd.Series(np.random.randn(len(checker['last_checkpoint'])), index=checker.index)
checker

      tracking_number  ... time_to_delivery_hours
0        781967910698  ...              -0.211071
1        781966817010  ...              -1.679585
2        781966767548  ...              -1.803799
3        781966731341  ...               0.360275
4        781966728963  ...              -0.388897
...               ...  ...                    ...
67439     70057074312  ...              -0.428212
67440     70057075535  ...              -0.460193
67441     70057075675  ...               0.459120
67442     70057075771  ...              -0.169721
67443     70057073041  ...              -0.465075

[67444 rows x 9 columns]

In [77]:
pd.options.mode.chained_assignment = None  # default='warn'
from datetime import datetime, timezone

In [78]:
from datetime import datetime
for id in range(len(checker)):
  lastCheckpoint = checkpoint_dataframe['last_checkpoint'][id]
  firstCheckpoint = checkpoint_dataframe['first_checkpoint'][id]
  old = min(lastCheckpoint,firstCheckpoint)
  young = max(lastCheckpoint,firstCheckpoint)
  duration = young - old     
  duration_in_s = duration.total_seconds()      
  hours = divmod(duration_in_s, 3600)[0]
  checker['time_to_delivery_hours'][id]=hours

In [95]:
checker #This is the final cleaned dataframe which is converted to csv

      tracking_number  ... time_to_delivery_hours
0        781967910698  ...                   26.0
1        781966817010  ...                   53.0
2        781966767548  ...                   33.0
3        781966731341  ...                   56.0
4        781966728963  ...                   76.0
...               ...  ...                    ...
67439     70057074312  ...                  144.0
67440     70057075535  ...                   99.0
67441     70057075675  ...                   70.0
67442     70057075771  ...                   73.0
67443     70057073041  ...                  121.0

[67444 rows x 9 columns]

In [92]:
from google.colab import files
checker.to_csv("checkpoint_attributes_time_to_delivery.csv")
files.download("checkpoint_attributes_time_to_delivery.csv")